body{
    font-family: "Zapfino";
    height: 32em;
    positon: absolute;
    background-position: center;
   }
#bg1 {
    background: #35bac5;   
    position: absolute;
}

#warning{
    font-family:"Zapfino";
}

h1{
    font-size: 2em;
    color: #fff1d7;
    z-index:1;
    white-space: nowrap;
    font-family:"Zapfino";
}
h2{
    font-size: 1.5em;
    color: #fff1d7;
    z-index:1;
    white-space: nowrap;
    font-family:"Zapfino";
    //position: fixed;
}
.minibox{
    border:2px solid #444;
    border-radius: 4px;
    width: 4em;
    height: 4em;
    padding:1em;
    text-align: center;
    z-index:2;
    position:absolute;
    background-color:red;
}

.middlebox{
    border:2px solid #444;
    border-radius: 4px;
    width: 10em;
    height:10em;
    bottom:3px;
    right: 10px;
    text-align: center;
    font-family: serif;
    positon: fixed;
}

footer {
    border:2px solid #555;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 16em;
    width: 16em;
    text-align: center;
    background-color: rgba(255,250,239,0.5);
}
.name{
    width: 50em;
    left: 20em;
    position: relative;
    font-weight: bold;	  
}
#tab{
    position:absolute;
    top: 14em;
    left:3em;
    
}
#tab a{
    border:1px solid #555;
    border-radius: 1px;
    width: 139px;
    color:#fff;
    background:#007bbb;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    text-decoration:none;
}
      
table {
    font-family: serif;
    width: 700px;
    background-color: #fff1d7;
    margin: 0 auto;
    vertical-align:top;
    text-align: center;
    top:0em;
}
tr {
    background-color: #f0f1d7;
}

#main {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left:50px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color:#fff1d7;
}

#left{
    top: 11.0em;
    width: 42%;
    z-index: 2;   
    position:absolute;
    white-space: nowrap;
}
#right{
    top: 7em;
    left: 22em;
    width: 45%;
    z-index: 2;
    position: absolute;
    white-space: nowrap;
}

#center {
    height: 25em;
    width: 100%;
    background-image: url("../images/book.png");
    background-repeat: no-repeat;
    overflow:hidden;
    z-index: 2;
    background-position: center center;
    position:absolute;
}