body{
    font-family: "Zapfino";
    height: 32em;
    positon: absolute;
    background-position: center;
   // overflow:scroll;
}
#bg1 {
    background: #35bac5;   
    position: absolute;
}

#warning{
    font-family:"Zapfino";
}

h1{
    font-size: 1.5em;
    color: #fff1d7;
    z-index:1;
    white-space: nowrap;
    font-family:"Zapfino";
    //position: fixed;
}

    .box1{
      border:5px solid #555;
      border-radius: 5px;
      position: fixed;
      top: 7em;
      right: 5em;
      padding:5em;
    }
      .box2 {
      border:3px solid #555;
      border-radius: 5px;
      padding:5em;
      margin: 5em;
      background-color: #fcfaf5;
    }

    
      .minibox{
	  border:2px solid #444;
	  border-radius: 4px;
	  width: 4em;
	  height: 4em;
	  padding:1em;
	  text-align: center;
	 z-index:2;
      }

      .middlebox{
	  border:2px solid #444;
	  border-radius: 4px;
	  width: 310px;
	  left:10px;
	  positon:relative;
	  text-align: center;
	  font-family: serif;
	  // z-index:2;
	  word-wrap: break-word;
	  margin: 0 auto;
	  overflow:scroll;
      }
      .name{
	  width: 50em;
	  left: 20em;
	  position: relative;
	  font-weight: bold;	  
      }
      #tab{
	  position:absolute;
	  top: 14em;
	  left:3em;
	  
      }
      #tab a{
	  border:1px solid #555;
	  border-radius: 1px;
	  width: 139px;
	  color:#fff;
	  background:#007bbb;
	  float: left;
	  height: 40px;
	  line-height: 40px;
	  text-align: center;
	  display: block;
	  text-decoration:none;
      }
      
table {
    font-family: serif;
    width: 700px;
    background-color: #fff1d7;
    margin: 0 auto;
    vertical-align:top;
    text-align: center;
    top:0em;
}
tr {
    background-color: #f0f1d7;
}

#main {
   width: 700px;
   margin: 0 auto;
   margin-top: 50px;
   margin-left:50px;
   margin-bottom: 100px;
   padding-top: 30px;
   padding-bottom: 50px;
   text-align: center;
   background-color:#fff1d7;
}

